body {
  background-color: beige;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  }

h1 {
text-align: center;
font-size: 24px;
color:#306519;
text-shadow: 1px 1px black;
}

#logo {
  width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; 
  padding-bottom: 10px;
}

.background {
	background-image: url("images/background.jpg");
}


 .ribbon {
 background-image: url("images/ivy.jpg");
 width: 100%;
}

  
.announcement {
color: #306519;
font-weight: bold;
font-size: 20px;
}
  
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 25px;
  font-size: 20px;
  font-weight: 900;
  border: none;
  cursor: pointer;
}

 

.dropdown {
  position: relative;
  display: inline-block;
  }
 

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 175px;
  z-index: 1;
  }

.dropdown-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #97e376;}

.dropdown:hover .dropbtn {
  background-color: #97e376;;
}
.dropdown:hover .dropdown-content {
  display: block;
}

a.menu {
  background-color: transparent;
  color: white;
  padding: 28px;
  text-align: left;
  text-decoration: none;
  text-shadow: .5px .5px white;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  border: none;
  cursor: pointer;
}
a:hover {
  background-color:#97e376;
}


.aux{
  border: solid;
  border-width: 10px;
  border-color: #306519;
  text-align:left;
  padding: 10px;
  color: #306519;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10%;
  margin-left: 10%;
  font-weight: bold;
  max-width: 100%;
}
.classimg {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
     
 
.flex-center {
  display: flex;  /* Arrange images side by side */
  flex-wrap: wrap; /* Allow images to wrap on smaller screens */
  justify-content: center;
  align-items: center;
}

.flex-center img { 
 height:auto;
 padding: 5px;
 max-width: 100%; /* Prevent images from exceeding container width */
}

/* used on home page*/
.flex-center p {
	padding-left: 10px;
    border: solid;
    border-width: 10px;
    border-color: #306519;
	color: #306519;
	font-weight: bold;
	width: 400px;
	max-width: 100%;
}

.flex-left {
  display: flex;  /* Arrange images side by side */
  flex-wrap: wrap; /* Allow images to wrap on smaller screens */
  justify-content: left;
  align-items: start;
}


.flex-left img { 
 height:auto;
 padding:5px;
 max-width: 100%; /* Prevent images from exceeding container width */
}

.flex-left p {
	padding-left: 10px;
    border: solid;
    border-width: 10px;
    border-color: #306519;
	color: #306519;
	font-weight: bold;
	width: 400px;
	max-width: 100%;
}


/* newsletter list*/
.flex-left span {
  font-weight: bold;
  width: 200px;
  margin: 10px;
}
 

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #125688;
  color: white;
}
.fa-instagram {
  background: #f40083;
  color: white;
}

/* picture collage */

  #collage {
     width: 100%;
        }






