body {
  background-color: beige;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  }

h1 {
text-align: center;
color: green;
text-shadow: 1px 1px black;
}

.logo {
  width: 400px;
  aspect-ratio:3/1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:10px;
  max-width: 100%;
}

 .ribbon{
  background-color: green;
}

  
.announcement {
color: green;
font-weight: bold;
font-size: 20px;
}

 
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

 

.dropdown {
  position: relative;
  display: inline-block;
  }
 

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  z-index: 1;
  }

.dropdown-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #9e9d9d}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.dropdown:hover .dropdown-content {
  display: block;
}

a.menu {
  background-color: transparent;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  border: none;
  cursor: pointer;
}
a:hover {
  background-color: #3e8341;
}


 
.aux{
  background-color: green;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 1.3em;
  margin-right: 10%;
  margin-left: 10%;
  
}

    
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:10px;
  max-width: 100%;
}

 
 
.image-container {
  display: flex; /* Arrange images side by side */
  flex-wrap: wrap; /* Allow images to wrap on smaller screens */
}

.image-container img {
  min-width: 47%; /* Each image takes up 50% of the container */
  margin: 10px; /* Add spacing between images */
  max-width: 100%; /* Prevent images from exceeding container width */
  height: auto; /* Maintain aspect ratio */
}
 


    

.socialmedia {
display: block;
background-color: transparent;
margin-left: auto;
margin-right: auto; 
padding: 5 0 5 0;
max-width: 100%;
}


/* picture collage */

 .collage-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .collage-image {
            max-width: 100%;
            height: auto;
        }

 





