body {
  background-color: beige;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  }

h1 {
text-align: center;
font-size: 24px;
color:#047823;
text-shadow: 1px 1px black;
}

#logo {
  width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}



 .ribbon {
 /* background-color: #047823;*/
 background-image: url("images/ivy.jpg");
}

  
.announcement {
color: #047823;
font-weight: bold;
font-size: 20px;
}
  
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 28px;
  font-size: 20px;
  font-weight: bold;
    text-shadow: 1px 1px white;

  border: none;
  cursor: pointer;
}

 

.dropdown {
  position: relative;
  display: inline-block;
  }
 

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 175px;
  z-index: 1;
  }

.dropdown-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #9e9d9d}

.dropdown:hover .dropbtn {
  background-color: #068a29;
}
.dropdown:hover .dropdown-content {
  display: block;
}

a.menu {
  background-color: transparent;
  color: white;
  padding: 28px;
  text-align: left;
  text-decoration: none;
  text-shadow: .5px .5px white;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  border: none;
  cursor: pointer;
}
a:hover {
  background-color: #068a29;
}


.aux{
  background-color:#047823;
  text-align:left;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin-right: 10%;
  margin-left: 10%;
}


    
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:10px 10px;
  max-width: 100%;
  text-align:center;
}

 
 
.flex-container {
  display: flex;  /* Arrange images side by side */
  flex-wrap: wrap; /* Allow images to wrap on smaller screens */
}

.flex-container img { 
 /* width: 400px;*/
  height: auto;
 /* min-width: 46%;  Each image takes up 50% of the container */
  margin: 5px; /* Add spacing between images */
  max-width: 100%; /* Prevent images from exceeding container width */
}

#partner {
	width: 100px;
	height: auto;
	margin: 5px;
	max-width: 100%;
}

.flex-container p {
	padding-left: 10px;
	color: #047823;
	font-weight: bold;
	width: 350px;
	min-width: 25%;
	max-width: 100%;
}

.flex-container span {
  font-weight: bold;
  width: 200px;
  margin: 10px;
}
 

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #125688 	;
  color: white;
}
.fa-instagram {
  background: #f40083;
  color: white;
}

/* picture collage */

 .collage-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .collage-image {
            max-width: 100%;
            height: auto;
        }






